/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@supports(-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .card__tag {
    text-stroke: 1px var(--shadow-color);
    -webkit-text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.page {
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--gradient-dark-color);
  /* background-image: repeating-linear-gradient(
      to bottom,
      var(--main-bg-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--gradient-third-color) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--gradient-light-color) 0%,
      var(--gradient-dark-color) 100%
    ); */
  background-image: repeating-linear-gradient(
      0deg,
      var(--gradient-light-color),
      var(--gradient-light-color) 2px,
      transparent 2px,
      transparent 4px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--gradient-light-color),
      var(--gradient-light-color) 2px,
      transparent 2px,
      transparent 4px,
      transparent 4px
    ),
    repeating-linear-gradient(to bottom, white, transparent);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" 400;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 700px;
  margin: 100px auto;
  border: 2px solid var(--border-color);
  padding: clamp(7.5rem, 7.3786rem + 0.5178vw, 8rem) 0;
  color: var(--text-color);
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
}

.content {
  margin: 0 auto;
  margin-block-start: 100px;
  max-inline-size: 696px;
}

.header__title {
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__subtitle {
  margin-block-end: 4px;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  margin-block-end: 50px;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.card__title {
  border: 2px solid var(--border-color);
  padding: 5px 22px 5px 8px;
  font-family: var(--main-font-family), sans-serif;
  font-weight: var(--main-font-bold);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-variation-settings: "wght" var(--main-font-bold);
}

.card__header {
  position: relative;
  border: 2px solid var(--border-color);
  border-block-start: none;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filter__grayscale {
  filter: grayscale(75%);
}

.filter__brightness {
  filter: brightness(150%);
}

.filter__hue-rotate {
  filter: hue-rotate(-20deg);
}

.filter__invert {
  filter: invert(100%);
}

.filter__sepia {
  filter: sepia(90%);
}

.filter__blur {
  filter: blur(10px);
}

.filter__contrast {
  filter: contrast(200%);
}

.card__tag {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font-family), sans-serif;
  font-weight: var(--main-font-regular);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 var(--shadow-color), 0 1px var(--shadow-color),
  0 -1px var(--shadow-color), 1px 0 var(--shadow-color);
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--shadow-color);
  z-index: 2;
}

.card__content {
  border: 2px solid var(--border-color);
  padding: 25px;
}

.card__text {
  color: var(--text-color);
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.card__text:nth-child(1) {
  margin-block-end: 27px;
}

.card__text:nth-child(2) {
  margin-block-end: 25px;
}

.card__actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--main-bg-color);
  transition: border-color 0.3 ease;
  cursor: pointer;
}

.sparks {
  fill: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
  outline: none;
}

.card__like-button {
  position: relative;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  padding: 9px 17px;
  background-color: var(--main-bg-color);
  block-size: 38px;
  inline-size: 130px;
}

.card__like-button:focus-visible {
  outline: none;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  background-color: var(--text-color);
  transition: width 0.3s ease;
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button:hover {
  cursor: pointer;
}

.button__text {
  color: var(--shadow-color);
  font-family: var(--accent-font-family), sans-serif;
  font-weight: var(--main-font-regular);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}
