/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--gradient-dark-color);
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradient-third-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--gradient-light-color) 0.01%,
      var(--gradient-dark-color) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" 410;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 700px;
  margin: 100px auto;
  border: 2px solid var(--border-color);
  padding: clamp(7.5rem, 7.3786rem + 0.5178vw, 8rem) 0;
  color: var(--text-color);
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
}

.content {
  margin: 0 auto;
  margin-block-start: 100px;
  max-inline-size: 696px;
}

.header__title {
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__subtitle {
  margin-block-end: 4px;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  margin-block-end: 45px;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.card__title {
  border: 2px solid var(--border-color);
  padding: 5px 22px 5px 8px;
  font-family: var(--main-font-family), sans-serif;
  font-weight: var(--main-font-bold);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-variation-settings: "wght" var(--main-font-bold);
}

.card__header {
  position: relative;
  border: 2px solid var(--border-color);
  border-block-start: none;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.filter__grayscale {
  filter: grayscale(75%);
}

.filter__brightness {
  filter: brightness(150%);
}

.filter__hue-rotate {
  filter: hue-rotate(-20deg);
}

.filter__invert {
  filter: invert(100%);
}

.filter__sepia {
  filter: sepia(90%);
}

.filter__blur {
  filter: blur(10px);
}

.filter__contrast {
  filter: hue-rotate(100deg) opacity(70%);
}

.card__tag {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font-family), sans-serif;
  font-weight: var(--main-font-regular);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 var(--shadow-color), 0 1px var(--shadow-color),
    0 -1px var(--shadow-color), 1px 0 var(--shadow-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .card__tag {
    text-shadow: none;
    text-stroke: 1px var(--shadow-color);
    -webkit-text-stroke: 1px var(--shadow-color);
  }
}

.card__content {
  border: 2px solid var(--border-color);
  padding: 25px;
}

.card__text {
  color: var(--text-color);
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.card__text:nth-child(1) {
  margin-block-end: 27px;
}
.card__text:nth-child(2) {
  margin-block-end: 25px;
}

.card__actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--main-bg-color);
  transition: border-color 0.3 ease;
  cursor: pointer;
}

.sparks {
  fill: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
  outline: none;
}

.button {
  position: relative;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  padding: 9px 17px;
  overflow: hidden;
  background-color: var(--main-bg-color);
  cursor: pointer;
  block-size: 38px;
  min-inline-size: 130px;
}

.button:hover::before {
  content: "";
  transform: translateX(0);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover {
  color: var(--main-bg-color);
}

.button__text {
  color: var(--shadow-color);
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.button__save-text {
  color: var(--shadow-color);
  font-family: var(--accent-font-family), sans-serif;
  font-weight: var(--main-font-regular);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.button__save {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--border-color);
  /* padding: 15px 20px; */
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--main-bg-color);
  cursor: pointer;
  block-size: 51px;
}

.button:focus-visible,
.button:focus {
  box-shadow: 2px 2px 0px 0px var(--border-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.save__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  padding-block-end: 100px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}
/*
.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid var(--border-color);
  padding: 30px 40px;
  color: var(--text-color);
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
  max-inline-size: 357px; 
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  border: 2px solid var(--border-color);
  padding: 30px 30px 30px 30px;
  color: var(--text-color);
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
  min-block-size: 191px;
}

.dialog:open {
  display: grid;
  gap: 30px;
}

.dialog:not([open]) {
  display: none;
}

.dialog__modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
} */
.dialog {
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  border: 2px solid var(--border-color);
  padding: 30px;
}

.dialog__modal {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

dialog:open {
  display: grid;
  gap: 30px;
}

.dialog:not([open]) {
  display: none;
}

.button__ok {
  position: relative;
  grid-column: 1 / span 2;
  width: 100%;
  height: 38px;
  border: 2px solid var(--border-color);
  overflow: hidden;
  text-transform: uppercase;
  background-color: #fff;
  cursor: pointer;
}

.button__ok-text {
  color: var(--shadow-color);
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.dialog__modal-text {
  margin-left: 20px;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}
.button__save svg {
  color: var(--shadow-color);
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

.dialog__modal-img {
  width: 39px;
  height: 39px;
}

@media (width <= 375px) {
  .card__tag {
    top: 25px;
    right: 11px;
  }

  .button__save {
    flex-direction: column;
    height: 80px;
    padding-bottom: 10px;
  }
}
