/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: Inter;
  --accent-font-family: PressStart2P;
  --main-font-bold: 715;
  --main-font-regular: 410;
  --main-bg-color: #fff;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: var(--main-font-regular);
  }
}