/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: Inter;
  --accent-font-family: PressStart2P;
  --main-font-bold: 715;
  --main-font-regular: 410;
  --main-bg-color: #fff;

  --gradient-light-color: #E7E7E7;
  --gradient-dark-color: #1A1A1A;
  --gradient-third-color: #d3d3d3;
  --text-color: #000;
  --border-color: #000;
  --shadow-color: #fff;
  --animation-fill-color: #FF0000;
  --contour-color: #FF0000;

}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: var(--main-font-regular);
  }
}